.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #000000aa;
  display: flex;
  justify-content: center;
  align-items: center;

  &-content {
    background-color: white;

    position: relative;
    max-width: 25rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1em #000000aa;
    font-size: 15px;
  }

  &-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: gray;
    border: none;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }
}
