@import "style/mixins.scss";
@import "style/variables.scss";

@font-face {
  font-family: "Basis Grotesque Pro";

  src: url("./fonts/BasisGrotesquePro-Regular.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: Basis Grotesque Pro;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
}

body {
  margin: 0;
}

.container {
  max-width: 1512px;
  width: 100%;
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 32px;
  color: #316fea;
  font-weight: bold;
}

.title {
  margin-top: 80px;
}

.login {
  margin-top: 40px;
  width: 400px;

  @include onTablet {
    width: 300px;
  }

  &-third {
    display: flex;
    gap: 16px;

    &-sso {
      display: flex;
      align-items: center;
      width: 192px;
      height: 48px;
      padding: 0 20px;
      border: 1px solid #d3d8dc;
      border-radius: 6px;
      gap: 10px;
      background-color: white;

      &-text {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        padding-block: 14px;
      }

      &:hover,
      :focus {
        border: 1px solid black;
        cursor: pointer;
      }
    }
  }
  &-divider {
    margin-top: 30px;

    color: #bec5cc;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    position: relative;

    hr {
      border-width: 0;
      height: 0;
      border-top: 1px solid #e3e6e9;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0;
      z-index: -1;
    }

    span {
      padding-inline: 4px;
      background-color: white;
    }
  }

  &-input-email {
    margin-top: 30px;
  }

  &-input-password {
    padding-left: 40px;
  }

  &-input-box {
    margin-top: 30px;
    position: relative;
  }

  &-input-visibility {
    position: absolute;
    width: 40px;
    top: 0;
    bottom: 0;
    right: 0;
    border: 0;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &-input-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &-input-forgot {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: right;
    color: #316fea;
    border: 0;
    background-color: white;

    &:hover {
      background-color: gray;
      cursor: pointer;
    }
  }

  &-button {
    margin-top: 30px;
  }

  &-signup {
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;

    &-button {
      color: #316fea;
      border: 0;

      &:hover {
        background-color: gray;
        cursor: pointer;
      }
    }
  }
}

.forgot {
  margin-top: 40px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include onTablet {
    width: 300px;
  }

  &-input {
    margin-top: 40px;
  }

  &-send {
    margin-top: 25px;
  }

  &-cancel {
    width: 100%;
    height: 48px;
    margin-top: 20px;
    color: #060e1e;
    border: 1px solid #d3d8dc;
    border-radius: 8px;
    background-color: transparent;
  }
}

.create {
  margin-top: 80px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include onTablet {
    width: 300px;
  }

  &-text {
    text-align: center;
  }

  &-password {
    margin-top: 40px;

    border-radius: 8px;

    &-label {
      font-weight: 500;
      font-size: 15px;
      line-height: 21px;
      color: #060e1e;
      text-align: left;
    }
  }

  &-box {
    margin-top: 8px;
    position: relative;
  }

  &-visibility {
    position: absolute;
    width: 40px;
    top: 0;
    bottom: 0;
    right: 0;
    border: 0;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &-confirm {
    margin-top: 25px;
    border-radius: 8px;
  }

  &-box-confirm {
    margin-top: 8px;
    position: relative;
  }

  &-button {
    margin-top: 30px;
  }
}

.warning {
  color: red;
  font-size: 12px;
  text-align: left;
}

.style-button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  color: white;
  background-color: #316fea;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;

  &:hover,
  :focus {
    cursor: pointer;
    background-color: #0351c1;
  }
}

.style-input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #d3d8dc;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  padding-left: 15px;
  padding-block: 14px;
  border-radius: 6px;

  &::placeholder {
    color: #a1abb5;
  }
}
